@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;

  --font-satu: 'Inter Tight', sans-serif;
  --font-dua: 'Open Sans', sans-serif;
  --font-tiga: 'Roboto', sans-serif;
  --font-empat: 'Source Sans Pro', sans-serif;
  
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-green: #74DEB7;
  --color-red: #F78D8D;
  --color-grey-1: #F1F1F1;
  --color-grey-2: #959595;
  --color-white: #FFFFFF;
  --color-orange: #ffaa33;

  --toastify-color-success: var(--color-green) !important;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-alt);
}

.container {
  position: relative;
  min-height: 100vh;

}

.con1 {
  padding-bottom: 8rem;
}

.con2 {
  padding-bottom: 3.5rem;
}

.bawah {
  padding: 0 1.2rem;
  background: var(--color-white);
  height: 3.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-grey-1);
}

.bawahkonten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.bawahkonten p{
  font-size: 12px;
  font-family: var(--font-alt);
}

.judul{
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.construction {
  height: 30rem;
  width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.maksimal {
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  height: 1000rem;
  background-color: #fff;
  z-index: 5;
  display: none;
}

.maksimal p {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.maksimal img {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 30rem;
  height: 45rem;
}

@media only screen and (min-width: 500px) {
  .maksimal {
    display: block;
  }
}